gr-rfid/build/
uhd/
gnuradio/
airspyone_host/
bladeRF/
hackrf/
rtl-sdr/
gr-iqbal/
gr-osmosdr
SoapySDR/
SoapyUHD/
LimeSuite/
GUI/Examples/
SoapySDRUtil
gr-limesdr/
tmp25484
echo
gr-rfid/misc/data/source1
