__pycache__/
gr-rfid/build/
airspyone_host/
bladeRF/
gnuradio/
gr-iqbal/
gr-limesdr/
gr-osmosdr
hackrf/
LimeSuite/
rtl-sdr/
SoapySDR/
SoapyUHD/
SoapySDRUtil
uhd/
tmp25484
echo
gr-rfid/misc/data/source1